@import "tailwindcss";

.skills-marquee-wrapper {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 1536px;
  border: 1px solid black;
  margin-inline: auto;
  overflow: hidden;
}

.skill-item {
  position: absolute;
  background-color: red;
  width: 200px;
  height: 100px;
  left: 100%;
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-delay: ; */
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}
